



body {
    font-family: poppins;
    height: 100vh;
    overflow-x: hidden; 
  }
  /* STYLES FOR NAVBAR */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin-right: 35px;
  }
  .navbar i {
    padding-top: 18px;
    padding-left: 35px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 450px;
    font-weight: 600;
    padding-top: 20px;
  }
  .navbar li {
    margin-right: 50px; 
  }
  .navbar li:last-child {
    margin-right: 0; 
  }
 /* Style for the text underline */
.navbar a {
  position: relative;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  transition: color 0.3s; 
}
/* Add a black line under the text on hover */
.navbar a:hover {
  color: #000; 
}
.navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0; 
  height: 2px;
  background-color: #000;
  transition: width 0.3s; 
}
.navbar a:hover::after {
  width: 100%; 
}
html, body {
    height: 100%;
    margin: 0;
}
/* Styles for navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  margin-right: 20px; 
  overflow-x: auto; 
  flex-wrap: nowrap;
}
.navbar-toggler {
 border: 2px solid black !important;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  padding-top: 20px;
}
/* Responsive styles for smaller screens */
@media screen and (max-width: 720px) {
  .navbar ul {
    padding-left: 185px; 
    padding-right: 0; 
    flex-direction: column; 
    align-items: flex-start; 
    overflow-x: hidden; 
  }
  .navbar li {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

/* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */
.container {
    text-align: center !important; 
    padding-top: 50px;
}
.black-button {
    background-color: #000000;
    color: white;
    border: none;
    width: 100px;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.black-button a {
    color: white; 
    text-decoration: none;
}
.black-button a:hover {
    color: white; 
    text-decoration: none;
}
.black-button:hover {
    background-color: #333; 
    color: white;
}
.homeh1{
    color: black;
    padding-bottom: 20px;
}
.homeP{
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
}
.content{
  margin: 10px auto;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
}
/* HOME FOOTER */ /* HOME FOOTER *//* HOME FOOTER */ /* HOME FOOTER *//* HOME FOOTER */ /* HOME FOOTER */ /* HOME FOOTER */
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
.footP{
  font-size: 18px;
  text-align: center;
}

@media (max-width: 720px) {
  .container {
      padding-top: 30px; 
  }
  .black-button {
      width: 80px; 
      padding: 12px; 
      font-size: 16px; 
  }
  .homeh1 {
      font-size: 28px; 
      padding-bottom: 10px; 
  }
  .homeP {
      font-size: 16px; 
      padding-top: 6px; 
      padding-bottom: 10px; 
  }
  .footer {
      position: static; 
      text-align: center;
      padding: 10px 0;
  }
  .footP {
      font-size: 16px; 
      padding-top: 50px;
  }
}

/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
.aboutBod{
    height: 100vh;
}
.containerAb {
    text-align: center !important; 
    padding-top: 30px;
}
.abouth1{
    color: black;
}
.aboutP{
    font-size: 17px;
    padding-top: 8px;
    padding-left: 80px;
    padding-right: 80px;
}
/* IMAGES */
.images{
    display: flex;
    padding: 50px;
    margin-right: 50px;
    justify-content: center;
}
.small-img {
    max-width: 450px; 
    padding-left: 50px;
    height: auto; 
}

/* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ 
.footerAb {
  position: relative;
  bottom: -100px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}

@media (max-width: 720px) {
  .containerAb {
      padding-top: 20px; 
  }
  .abouth1 {
      font-size: 28px; 
  }
  .aboutP {
      font-size: 14px; 
      padding-top: 6px; 
      padding-left: 20px; 
      padding-right: 20px; 
  }
  .images {
      display: block; 
      padding: 20px; 
      margin-right: 0; 
  }
  .small-img {
    max-width: 200px; 
    height: auto; 
    padding-left: 0; 
    margin: 0 auto; 
}
  .footerAb {
      position: static; 
      text-align: center;
      padding: 10px 0;
  }
}


/* PRODUCT PAGE */ /* PRODUCT PAGE */ /* PRODUCT PAGE */ /* PRODUCT PAGE *//* PRODUCT PAGE */ /* PRODUCT PAGE */
.Pro{
    text-align: center;
    padding-top: 20px;
    color: black;
}
.sort-search-container {
    display: flex;
    justify-content: space-between;
   margin-top: 80px;
   margin-left: 180px;
   margin-right: 120px;
   margin-bottom: 50px;
}
.search {
    display: flex;
    align-items: center;
}
.space{
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.textSearch {
    border-radius: 5px;
    border: 2px solid black;
    padding: 15px !important;
}
::placeholder{
  font-size: 18px;
  text-align: center;
}
.sortBtn{
    background-color: #000000;
    color: white;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.sortBtn:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }
.searchBtn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    padding-bottom: 13px;
    padding-top: 11px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
    margin-bottom: 10px;
    margin-right: 60px;
}
.searchBtn:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }

/* CSS for Product Cards */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  .product-card {
    border: 2px solid black !important; 
    border-radius: 8px;
  }
  .card-text {
    font-size: 18px;
    font-weight: 500; 
    padding: 10px;
  }
  .card-price{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
  }
  .product-image {
    max-width: 250px;
    height: auto;
  }
  .card-body {
    padding: 1.25rem;
  }
  .btn1{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  .btn1:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }
  /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */
.footerPro {
  position: relative;
  bottom: -50px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
/* RESPONSIVENESS */
@media screen and (max-width: 720px) {
  body {
    font-size: 14px;
  }
  .footerPro {
    text-align: center;
    padding: 10px 0;
  }
  .sort-search-container {
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .sortBtn {
    width: 70%;
    margin-bottom: 10px;
    margin-left: 25px;
  }
  .search {
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .textSearch {
    width: 75%;;
    margin-bottom: 10px;
  }
  .searchBtn {
    width: 85%;
    margin: 0px;
  }
}
@media screen and (max-width: 320px) {
  .sort-search-container {
    margin: 30px 10px;
  }
  .textSearch {
    width: 100%; 
    margin-bottom: 8px; 
    font-size: 14px; 
  }
  .sortBtn{
    width: 80%; 
    margin-bottom: 8px; 
    font-size: 14px; 
  }
  .searchBtn {
    width: 100%;
    margin-bottom: 8px; 
    font-size: 14px; 
  }
  
}
  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */
  main{
    padding-top: 80px;
  }
  .h1Ad{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 80px;
    color: black;
  }
  .tableAd {
    width: 100% !important;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #000000;
  }
  th, td {
    border: 2px solid #000000 !important;
    text-align: left;
    padding: 15px;
    font-size: 18px;
  }
  th {
    background-color: #000000 !important;
    color: white;
    text-align: center !important;
    padding: 20px !important;
  }
  .adminImg {
    width: 200px;
    height: 200px;
  }
  button.add,
  button.edit,
  button.delete {
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  button.add:hover,
  button.edit:hover,
  button.delete:hover {
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease;
    border: 2px solid black;
  }
.addBtn{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
    width: 120px;
}
.addBtn:hover {
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease;
    border: 2px solid black;
  }
  .btnAdd{
    position: absolute;
  top: 250px; 
  right: 150px; 
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  text-transform: uppercase;
  transition: 0.3s ease;
  }
  .btnAdd:hover {
    background-color: transparent;
    transition: 0.3s ease;
    color: #000000;
  }
  .sorts{
    top:20px;
  }
  .sortBtn1{
    background-color: #000000;
    position: absolute;
    top: 250px;
    color: white;
    border: none;
    width: 120px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.sortBtn1:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
  }
   /* Styling for the modal */
.modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.modal-title {
    color: white;
}
.modal-header{
  background-color: black;
}
/* Styling for the form */
#addItemForm {
    display: flex;
    flex-direction: column;
}
/* Styling for form labels and inputs */
label {
    margin-bottom: 8px;
    color: #000;
}
input[type="text"],
input[type="number"] {
    padding: 8px;
    margin-bottom: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #333;
}
#showModal .btn-close{
  color: white; 
  opacity: 1; 
  font-size: 1.5rem; 
  background: transparent;
  border: none; 
  outline: none;
  transition: color 0.3s ease; 
  padding-bottom: 18px;
}
/* EDIT MODAL */
#editItemModal .modal-content {
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#editItemModal .modal-header {
  border-bottom: 1px solid #ccc;
  padding: 10px 15px;
}
#editItemModal .modal-title {
  margin: 0;
  font-size: 18px;
}
#editItemModal .modal-body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
#editItemModal label {
  margin-bottom: 5px;
}
#editItemModal input[type="text"],
#editItemModal input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}
#editItemModal input[type="submit"] {
  padding: 8px 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#editItemModal input[type="submit"]:hover {
  background-color: #000000;
}
#editItemModal .btn-close {
  color: white; 
  opacity: 1; 
  font-size: 1.5rem;
  background: transparent; 
  border: none; 
  outline: none; 
  transition: color 0.3s ease; 
  padding-bottom: 18px;
}
#editItemModal .btn-close:hover {
  color: #f8f9fa; 
}
/* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */
.footerAd {
  position: relative;
  bottom: -150px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
/* ADMIN RESPONSIVENESS */
@media screen and (max-width: 720px) {
  body {
    font-size: 14px; 
  }
  .h1Ad {
    text-align: center;
  }
  .sortBtn1 {
    background-color: #000000;
    position: absolute;
    top: 250px;
    color: white;
    border: none;
    width: 150px;
    padding: 15px;
    margin-bottom: 50px;
    border-radius: 10px;
    margin-right: 50px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  .sortBtn1:hover {
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
  }
  .addBtn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
    width: 150px;
    position: absolute;
    right: -120px; 
  }
  .addBtn:hover {
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease;
    border: 2px solid black;
  }
  /* Show table header labels in the first row */
  tbody:before {
    content: attr(data-labels);
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  /* Make the table responsive */
  table {
    width: calc(100% - 20px); 
    margin: 0 auto; 
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 12px;
    margin-top: 80px !important;
  }
  .adminImg {
    width: 80px;
    height: auto;
  }
  @media screen and (max-width: 360px) {
    body {
      font-size: 10px;
    }
    .adminImg {
      width: 60px;
    }
    .sortBtn {
      width: 150px !important;
      left: 10px !important;
      position: absolute;
    }
    .addBtn {
    width: 150px !important; 
    top: 60px; 
    margin-right: 80px;
    margin-left: 200px;
    position: absolute;
  }
  /* Add space between buttons and table */
  table {
    margin-top: 80px !important;
  }
  }
}

/* CHECKOUT PAGE */
/* Checkout Table Styles */
.checkH1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: black;
}
.checkoutTable {
  width: 90%; 
  margin: 0 auto; 
  border-collapse: collapse; 
}
.checkText {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding-top: 100px;
}
#purchaseButton {
  background-color: rgb(0, 191, 0);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s ease;
  width: 120px;
  margin: 20px auto; 
}
#purchaseButton:hover {
  background-color: transparent;
  color: rgb(0, 191, 0);
  transition: background-color 0.3s ease;
  border: 2px solid rgb(0, 191, 0);
}
.btnPur {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.tableTotal {
  padding-right: 32px;
  padding-top: 10px;
  font-size: 25px;
  text-align: right;
  font-weight: 700;
}
.checkP {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* Styling for the purchase modal */
#purchaseModal .modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}
#purchaseModal .modal-title {
  color: white;
}
#purchaseModal .modal-body p {
  color: #000;
}
#purchaseModal .modal-footer .btn-primary {
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
#purchaseModal .modal-footer .btn-primary:hover {
  background-color: #333;
}
#purchaseModal .btn-close {
  color: white; 
  opacity: 1;
  font-size: 1.5rem; 
  background: transparent; 
  border: none; 
  outline: none; 
  transition: color 0.3s ease; 
  padding-bottom: 18px;
}
/* Footer Checkout */
.footerCheck {
  position: relative;
  bottom: -150px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}

/* Responsive*/
  @media screen and (max-width: 720px) {
    .checkoutTable {
      width: 90%;
      overflow-x: auto;
      display: block;
      table-layout: auto;
    }
  }

/* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */ /* CONTACT PAGE */
.Conh1{
  padding-bottom: 50px;
}
.conP{
  font-size: 18px;
  padding-top: 20px;
}
.contact-content {
  text-align: center;
  padding-bottom: 150px; 
  margin-right: 50px;
}
form {
  padding: 20px;
  text-align: left;
}
.sendBtn {
  width: 100%;
}
/* Styling for the form */
.formF{
  font-size: 18px;
  font-weight: 400;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: transparent;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 8px;
  color: #000;
}
input[type="name"],
input[type="surname"],
input[type="text"],
input[type="number"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 5px;
  border: 1px solid #000000;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
.sendBtn{
  background-color: #000000;
  color: white;
  border: none;
  width: 120px;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.3s ease;
}
.sendBtn:hover{
  background-color: transparent;
  border: 2px solid black;
  transition: 0.3s ease;
  color: #000000;
}
/* ICONS */
.icons{
  text-align: center;
}
.fa-linkedin{
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook {
  padding: 20px;
  font-size: 20px !important;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa-facebook:hover {
    opacity: 0.7, !important;
    color: white;
}
.fa-facebook {
  background: #2d54a9;
  color: white;
}
.fa-linkedin {
  background: #0086c4;
  color: white;
}
/* FOOTER CONTACT */ /* FOOTER CONTACT */ /* FOOTER CONTACT */ /* FOOTER CONTACT */ /* FOOTER CONTACT */ /* FOOTER CONTACT */
.footerCon{
  position: relative;
  bottom: -150px;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  color: #000000;
}
/* Media query */
@media (max-width: 720px) {
  .Conh1 {
    font-size: 28px;
  }
  .contact-content {
    text-align: center;
    padding-bottom: 20px;
  }
  /* Adjust form inputs */
  input[type="text"],
  input[type="number"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }
}