



body {
    font-family: poppins;
    height: 100vh;
    overflow-x: hidden; 
  }
  /* STYLES FOR NAVBAR */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;
    margin-right: 35px;
  }
  .navbar i {
    padding-top: 18px;
    padding-left: 35px;
  }
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 450px;
    font-weight: 600;
    padding-top: 20px;
  }
  .navbar li {
    margin-right: 50px; 
  }
  .navbar li:last-child {
    margin-right: 0; 
  }
  .navbar a {
    text-decoration: none;
    color: #000;
    font-size: 20px; 
  }
html, body {
    height: 100%;
    margin: 0;
}

/* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */ /* HOME PAGE */
.container {
    text-align: center !important; 
    padding-top: 150px;
}
.black-button {
    background-color: #000000;
    color: white;
    border: none;
    width: 100px;
    padding: 15px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.black-button a {
    color: white; 
    text-decoration: none;
}
.black-button a:hover {
    color: white; 
    text-decoration: none;
}
.black-button:hover {
    background-color: #333; 
    color: white;
}
.homeh1{
    color: black;
}
.homeP{
    font-size: 20px;
    padding-top: 8px;
}

/* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */ /* ABOUT */
.aboutBod{
    height: 100vh;
}
.containerAb {
    text-align: center !important; 
    padding-top: 30px;
}
.abouth1{
    color: black;
}
.aboutP{
    font-size: 17px;
    padding-top: 8px;
    padding-left: 80px;
    padding-right: 80px;
}
/* IMAGES */
.images{
    display: flex;
    padding: 50px;
    margin-right: 50px;
    justify-content: center;
}
.small-img {
    max-width: 450px; 
    padding-left: 50px;
    height: auto; 
    
}

/* PRODUCT PAGE */ /* PRODUCT PAGE */ /* PRODUCT PAGE */ /* PRODUCT PAGE *//* PRODUCT PAGE */ /* PRODUCT PAGE */
.Pro{
    text-align: center;
    padding-top: 20px;
}
.sort-search-container {
    display: flex;
    justify-content: space-between;
   margin-top: 80px;
   margin-left: 180px;
   margin-right: 120px;
   margin-bottom: 50px;
}
.search {
    display: flex;
    align-items: center;
    padding-right: 50px;
}
.space{
    padding-right: 20px;
}
.textSearch {
    border-radius: 5px;
    border: 2px solid black;
    padding: 7px;
}
.sortBtn{
    background-color: #000000;
    color: white;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.sortBtn:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }
.searchBtn {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    padding-bottom: 8px;
    padding-top: 6px;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s ease;
}
.searchBtn:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }

/* CSS for Product Cards */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .card {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
  }
  .card-text {
    font-size: 18px;
    font-weight: 500; 
    padding: 10px;
  }
  .card-price{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
  }
  .product-image {
    max-width: 250px;
    height: auto;
  }
  .card-body {
    padding: 1.25rem;
  }
  .btn1{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  .btn1:hover{
    background-color: transparent;
    border: 2px solid black;
    transition: 0.3s ease;
    color: #000000;
    font-weight: 700;
  }
  
  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */  /* ADMIN */
  main{
    padding-top: 60px;
  }
  .h1Ad{
    text-align: center;
    padding-bottom: 60px;
  }
  table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #000000;
  }
  th, td {
    border: 2px solid #000000 !important;
    text-align: left;
    padding: 15px;
    font-size: 18px;
  }
  th {
    background-color: #000000;
    color: white;
    text-align: center !important;
  }
  .adminImg {
    width: 200px;
    height: 200px;
  }
  button.add,
  button.edit,
  button.delete {
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
  }
  
  button.add:hover,
  button.edit:hover,
  button.delete:hover {
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease;
    border: 2px solid black;
  }
  
.addBtn{
    background-color: #000000;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.3s ease;
    width: 120px;
}
.addBtn:hover {
    background-color: transparent;
    color: black;
    transition: background-color 0.3s ease;
    border: 2px solid black;
  }
  .btnAdd{
    position: absolute;
    margin-left: 1200px;
    padding-top: 40px;
    
  }
/* HOME FOOTER */ /* HOME FOOTER *//* HOME FOOTER */ /* HOME FOOTER *//* HOME FOOTER */ /* HOME FOOTER */ /* HOME FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}
.footP{
    font-size: 18px;
}
/* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */ /* PRODUCT FOOTER */
.footerPro {
    position: absolute;
    bottom: -1050px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}
/* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ /* ABOUT */ /* FOOTER */ 
.footerAb {
    position: absolute;
    bottom: -150px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}

/* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */ /* FOOTER ADMIN */
.footerAd {
    position: absolute;
    bottom: -1000px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #000000;
}

